@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}